@charset "UTF-8";

*{
    font-family: sans-serif;
   
}

p{
    text-align: justify;
}

body{
    background-color: antiquewhite;
     
}

main{
    background-color: white; 
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(144, 115, 63, 0.863);
}

h1{
    color: #6d5843;
    text-align: center ;
}

h2{
    color: #E1BD3B;
}